<aside class="sidebar">
    <div class="sider__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>

    <div class="sider__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/sidebar-icon.png" alt="">
            <div class="profile__name">Макс Корж</div>
            <div class="profile__prof">блог музыканта</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/icons/instagram.svg" alt="Maks Korzh instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/icons/vk.svg" alt="Maks Korzh vk">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/icons/twitter.svg" alt="Maks Korzh twitter">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                <p>
                    Музыкант, певец, рэпер, мастер бешеных концертов и просто парень по соседству. За
                    несколько лет он прошел путь от песен под гитару на флэтах до стадионов, но и сейчас его легко можно
                    встретить на улицах Минска, пролетающего мимо вас на скейтборде.
                </p>
            </div>
        </div><!-- /profile -->
    </div> <!-- /sider__content -->

    <div class="sider__footer">
        <a class="btn btn--red" href="#">Моя музыка</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>